@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e3e3;
  margin: 0;
  padding: 0;
}

.all {
  margin-left: 20px;
  margin-right: 20px;
}

nav li a {
  text-transform: uppercase;
  color: #3e3128;
}

h6 {
  margin-bottom: 1rem;
}

table:nth-child(2) {
  margin-top: 4rem;
  /* display: flex; */
  /* 	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column; */
}

table tr {
  margin: 1rem;
  text-align: left;
}
td {
  padding: 8px;
}

.cards-item {
  opacity: 0.5;
}
